body {
	background-color: rgb(150,25,30);
}

h1 {
	color: black;
	text-align: left;
}

h2 {
	color: gray;
	text-align: left;
	font-style: italic;
}

p	{
	color: gray;
	font-size: 20px;
	font-style: italic;
}